*{background-image:background-image:url("hotel pool.jpg");}
.nav {
    overflow: hidden;
    position: relative;
    text-align: center;
}
body
{text-align: center;
    background-color:grey;
    }
}
.first{
    background-color: rgb(196, 190, 190);
}
footer{
    text-align: center;
    color:red;
    font-size: 40px;
}
h5{
    color: blue;
    font-size: 20px;
}
h3{
    color:blue;
    font-size: 20px;
}
h4{
    color:blue;
    font-size: 20px;
}
header{
    color:red;
    font-size:20px;
}
.second{
    border-style:dashed;
    border-radius:20px ;
    border-width: 1px;
}
h1{
    color :red;
    font-size: 19px;
    font-style: italic;
}